* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin-left: 10px;
    margin-right: 10px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-left: thin inset;
    border-right: 1px solid gray;
}
main {
    display: flex;
    flex-direction: row;
}
main aside{
    flex: 1;
    overflow: auto;
}
main article{
    flex: 2;
    overflow: auto;
}
p {
    font-size: 20px;
    color: black;
    margin-left: 10px;
    padding: 5px;
    font-family: 'Arial Narrow Bold';
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
ul li{
    padding: 1px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    background: rgb(218, 200, 191);
    border: thin inset;
}
.logo {
    margin-left: 10px;
}
.logo-text {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}
.title {
    color: rgb(5, 93, 93);
    font-weight: bolder;
}
.tit {
    text-align: center; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    color: rgb(59, 16, 16);
}
.motto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(134, 32, 32);
    font-size: 0.8em;
}
.menubar {
    margin-left: 8.5em;
    width: 45%;
    height: auto;
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.item a{
    color: rgb(6, 53, 53);
    font-size: 1.3em;
    font-weight: bold;
}
.item a:hover {
    color: black;
    font-size: 1.2em;
    transition: 0.3s;
}
.active {
    background: rgb(246, 245, 243);
}
.search {
    position: absolute;
    bottom: 83vh;
    right: 20px;
    width: 250px;
    height: 25px;
    border: 1px solid rgb(5, 93, 93);
    background: white;
    transition: 0.3s;
    display: inline-block;
}
.search span{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(5, 93, 93);
}
.search-text {
    width: 100%;
    position: relative;
    background: rgb(190, 189, 189);
    display: none;
    height: auto;
    margin-top: 1px;
    transition: 0.3s linear;
    
}
.search-text h2 {
    font-size: 1em;
    color: rgb(160, 106, 26);
    text-align: center;
    text-decoration: underline;
}
.search-text ul li {
    padding: 1px;
    margin-top: 2px;
    transition: 0.3s;
    margin-left: 5px;
}
.search-text ul li a{
    color:  rgb(5, 93, 93);
    font-size: 1.1em;
}
.search-text ul li a:hover{
    color: black;
}
.search:hover > .search-text{
    display: block;
}

.burger {
    display: none;
    width: 38px;
    height: 28px;
    cursor: pointer;
}
.lay1, .lay2, .lay3 {
    background: black;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    border-radius: 10px;
    margin-left: 10px;
}
/* Sample overlay */
.overlay{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    background-color: #383736;
    opacity: 0.7;
    transition: all 0.3s linear;
}
.overl {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    background-color: #383736;
    opacity: 0.7;
    transition: all 0.3s linear;
}

/*End sample*/

/* Designing home page / index.html*/
.intro {
    width: 100%;
    height: calc(100vh - 20vh);
    background: url('photo/trick.jpg') no-repeat center center/cover;
    top: 0;
    left: 0;
}
.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.heading {
    margin-top: 10px;
    font-size: 1em;
    font-weight: bolder;
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
    margin-bottom: 10px;
}
.h-up {
    font-size: bolder;
}
.h-d {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(51, 25, 25);
    font-size: 0.9em;
    font-weight: bolder;
}
/* Annimation */

/* Design for lightbox*/
.lb {
    display: table; 
    opacity: 0; 
    z-index: -1; 
    transition: 0.4s; 
    position: fixed; top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    background: rgba(0,0,0,7);
}
.lb:target {
    opacity: 1;
    z-index: 1;
}
.lb-con {
    display: table-cell; 
    vertical-align: top;
}
.close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 1.5em; 
    font-weight: 300; 
    text-decoration: none; 
    color: yellow;
}
.close:hover {
    color: black;
    opacity: 0.8;
}
#d {
    background: rgb(116, 117, 116);
}
#d h2{
    margin-left: 4em;
    color: rgb(2, 34, 34);
    margin-top: 20px;
}
#d ul{
    margin-left: 5em;
}
#d ul li{
    color: rgb(1, 1, 34);
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
/*End*/

/* End home page design*/
.side-menubar {
    display: none;
}


/*Design for about.html*/
.about {
    width: 100%;
    height: 100vh;
    background: green;
}
.about-gsss {
    width: 100%;
    height: 100%;
}
.img1 {
    width: 70%;
    height: auto;
    margin-left: 15%;
}
.c-info {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-bottom: 1px outset;
    border-top: 1px inset;
}
.c-info p{
    text-align: center;
}
.info-gsss {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.info-gsss h1{
    margin-left: 50px;
    color: rgb(5, 93, 93);
    font-weight: bolder;
    font-family: fantasy;
    font-weight: 2em;
}
.info-gsss h2 {
    margin-left: 50px;
    color: rgb(2, 49, 49);
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.goals {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    background: rgb(200, 200, 200);
}
.goals li{
    color: rgb(2, 34, 34);
    padding: 5px;
}
.key-management {
    width: 100%;
    height: auto;
}
.key-management h1{
    margin-left: 50px;
    color: rgb(5, 93, 93);
    font-family: fantasy;
}
.key-management h3{
    margin-left: 50px;
    color: rgb(2, 49, 49);
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.key-management a{
    color: rgb(11, 70, 3);
    text-decoration: underline;
}
.key-management a:hover{
    color: black;
}

/*Designing services.html*/
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services h3{
    margin-left: 10px;
    color: rgb(3, 73, 73);
    margin: 5px 10px;
    text-align: center;
}
.div-item_1, .div-item_2, .div-item_4, .div-item_5 {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: inset;
    border-radius: 4px;
}
.div-item_3 {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: inset;
    border-radius: 4px;
    background: rgb(70, 69, 69);
}
.div-item_3 h3{
    color: yellow;
}
.ser_3 ul li{
    padding: 1.5px;
    color: white;
    font-size: 1.1em;
}

.div-item_1:hover, .div-item_2:hover, .div-item_4:hover, .div-item_5:hover {
    width: 410px;
    height: 210px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
}
.div-item_3:hover {
    width: 410px;
    height: 210px;
    cursor: default;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
}


.ser_1, .ser_2, .ser_4, .ser_5 {
    display: none;
    position: fixed;
    top: 10px;
    left: 5px;
    width: 100%;
    height: auto;
    background: rgb(71, 70, 70);
    transform: translate(-100%);
    transition: all 0.3s linear;
    margin-bottom: 50px;
    z-index: 10;
    overflow-y: auto;
}
.ser_1 p, .ser_2 p, .ser_3 p, .ser_4 p, .ser_5 p {
    color: rgb(255, 255, 255);
}
.service_img {
    position: relative;
}
.service_img img{
    width: 100%;
    height: auto;
}
.service_img span{
    position: absolute; 
    color: yellow;
    background: black;
    top: 80%; left: 10%; 
    transform: translate(-50, -50); 
    font-size: 1.6em;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    width: 100%;
    height: calc(100vh - 50vh);
}
.img img{
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}
.div1 ul{
    margin-left: 10px;
}
.div1 ul li{
    padding: 1px;
    font-size: 19px;
}
.div1 h3{
    margin-left: 20px;
    color: rgb(5, 93, 93);
}
.why-gsss {
    width: 100%;
    height: auto;
}
.why-gsss h2 {
    margin-left: 50px;
    color: rgb(5, 93, 93);
    margin-top: 5px;
    margin-bottom: 5px;
}
.why-gsss ul{
    margin-left: 10px;
}
.why-gsss ul li{
    padding: 1px;
    font-size: 19px;
}

.div-item {
    width: 500px;
    height: auto;
    
}
.closeSer_1, .closeSer_2, .closeSer_4, .closeSer_5 {
    position: absolute;
    top: 5px;
    right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: yellow;
    font-size: 2em;
    font-weight: bolder;
}

/*Designing the footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: rgb(211, 155, 130);
    border-radius: 1px;
    border-top: 1px outset;
    margin-top: 20px;
}
.mail {
    margin-left: 8.5em;
    width: 45%;
    height: auto;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.con a{
    color: rgb(6, 53, 53);
    font-size: 1.1em;
    margin-left: 20px;
    font-weight: bold;
}
.contact:first-child{
    margin-left: 0;
}
.txt {
    font-size: 1em;
    color: rgb(5, 93, 93);
    font-weight: bolder;
}