/* Tablet user */

@media screen and (max-width: 780px) {
    .menubar {
        display: none;
    }
    .header {
        height: 15vh;
    }
    p {
        font-size: 1.1em;
    }
    main aside{
        display: none;
    }
    .burger {
        display: block;
    }
    .logo {
        padding-left: 0;
    }
    .logo-text {
        font-size: 1.2em;
        transition: 0.3s;
    }
    .motto {
        font-size: 0.8em;
    }
    /*Designing home page */
   
    .side-menubar {
        display: block;
        position: fixed;
        top: 0;
        left: 10px;
        transform: translate(-100%);
        z-index: 11;
        width: 50%;
        height: 100vh;
        background: rgb(214, 212, 212);
        transition: 0.3s linear;
    }
    .side-menu-items {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        margin-top: 50px;
    }
    .menu-item a{
        color: rgb(6, 53, 53);
        font-size: 1.3em;
        font-weight: bold;
    }
    .menu-item a:hover {
        color: black;
        font-size: 1.2em;
        transition: 0.3s;
    }
    .close-menu {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 2em;
    }
    .close-menu:hover {
        color: red;
    }
    .mail {
        display: none;
    }
    .txt {
        font-size: 0.8em;
        
    }
    .page-title h1{
        font-size: 1em;
    }
    .img1 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .info-gsss h1{
        
        margin-left: 10px;
        font-size: 1.2em;
    }
    .info-gsss h2 {
        margin-left: 10px;
        font-size: 1.1em;
    }
    .key-management h1{
        margin-left: 10px;
        font-size: 1.2em;
    }
    .key-management h3{
        margin-left: 10px;
        font-size: 1.2em;
    }
    .tit {
        font-size: 1.1em;
    }
    .div1 ul li{
        font-size: 1.1em;
    }
    .why-gsss h2 {
        margin-left: 15px;
        font-size: 1.4em;
    }
    /*designing services*/
    .services {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
    .div-item_1, .div-item_2, .div-item_3, .div-item_4, .div-item_5 {
        width: 90%;
        height: auto;
    }
    .div-item_1:hover, .div-item_2:hover, .div-item_3:hover, .div-item_4:hover, .div-item_5:hover{
        width: 91%;
        height: auto;
    }
    .img {
        height: calc(100vh - 60vh);
    }
}

@media screen and(max-width: 480px) {

}